---
---

@import "{{ site.theme }}";

body {
  color:#494949;
}

header h1 a{
    background-image: url(/HRI-Design-2020/assets/img/designhri.png);
    display: block;
    width: 100%;
    font-size: 0px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}

header .view {
    display: none;
}

header p {
    color: #ea1b5f;
}

a:-webkit-any-link {
    color: #ea1b5f;
    cursor: pointer;
    text-decoration: none;
}
